<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dissappering ninja</title>
  <meta name="description" content="pythonAndFlask">
  <meta name="Tyson" content="SitePoint">

</head>

<body>
    
    <img src="../static/tmnt.png" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="#Michaelangel" title="Michaelangel" href="/Michaelangel" shape="rect" coords="235,232,163,308" />
    <area alt="#Raphael" title="Raphael" href="/Raphael" shape="rect" coords="447,319,337,406" />
    <area alt="#Leonardo" title="Leonardo" href="/Leonardo" shape="rect" coords="417,187,343,269" />
    <area alt="#donatello" title="donatello" href="/donatello" shape="rect" coords="576,219,495,298" />

</map>

</body>
</html>
